@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #2563EB;
  --color-secondary: #FBBF24;
}

*{
  font-family: Outfit, sans-serif;
}
.font-playfair{
  font-family: Playfair !important;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body {
  background-color: #000000;
}
/* Hide scrollbar for Chrome, Safari, and Edge */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
body {
  scrollbar-width: none; 
}

/* Hide scrollbar for IE/Edge */
body {
  -ms-overflow-style: none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

